body{
margin:0;
padding:10px 0px;
max-width:100%;
overflow-x:hidden;
min-height:100vh;
font-family: 'Montserrat', sans-serif;
font-weight:bold;
font-style:normal;
background:#fff;
z-index:-1;
}
#header{
font-size:42px;
margin:20px 0px;
}
#content{
margin:20px 0px;
font-size:30px;
width:90%;
}
#content b{
color:#5E56F6;
font-size:35px;
}
#image{
height:160px;
width:160px;
border-radius:50%;
}
::selection {
color:#fff; 
background:#000;
}
#social{
margin:20px 0;
color:#000;
}
.class{
color:#000;
font-size:35px;
margin:0px 20px;
}
#hahayes{
position:absolute;
font-size:24px;
padding-top:13px;
margin-left:10px;
float:left; 
}
#menu{
width:100%;
height:100vh;
overflow:hidden;
font-family: 'Montserrat', sans-serif;
font-weight:bold;
background:#5E56F6;
color:white;
z-index:1;
position:fixed;
display:none;
margin-top:-20px;
font-size:30px;
}
#options{
margin:30px 20px; 
color:white;
}
#options a{
text-decoration:none;
color:white;
}
.project1{
max-width:85%;
width:85%;
height:auto;
overflow:hidden;
color:white;
background:#5E56F6;
background-attachment:fixed;
margin:20px 0px;
border-radius:10px;
display:inline-block;
font-size:60px;
padding:20px;
text-align:left;
font-family: 'Montserrat', sans-serif;
font-weight:bold;
font-style:normal;
}
.project1 p{
font-size:30px;
}
.project1 a{
padding:8px 60px;
border:2px solid #fff;
color:#5E56F6;
font-size:22px;
background:#fff;
border-radius:25px;
text-decoration:none;	
font-family: 'Montserrat', sans-serif;
font-weight:bold;
font-style:normal;
position:relative;
}
#particles-js{
width:98%;
height:84%;
position:absolute;
margin-top:-20px;
margin-left:-20px;
}
@media (min-width: 600px) {
body{
margin:0;
padding:30px 0px;
max-width:100%;
overflow-x:hidden;
min-height:100vh;
font-family:'Montserrat', sans-serif;
font-weight:bold;
font-style:normal;
background:#fff;
}
#header{
font-size:50px;
margin:20px 0px;
}
#content{
margin:20px 0px;
font-size:32px;
width:90%;
}
#content b{
color:#5E56F6;
font-size:36px;
}
#hahayes{
position:absolute;
padding-top:6px;
font-size:34px;
margin-left:16px;
float:left; 
}
#menu{
width:100%;
height:100vh;
overflow:hidden;
font-family: 'Montserrat', sans-serif;
font-weight:bold;
background:#5E56F6;
color:white;
z-index:1;
position:fixed;
display:none;
margin-top:-30px;
}
.project1{
max-width:400px;
width:400px;
height:auto;
overflow:hidden;
color:white;
background:#5E56F6;
background-attachment:fixed;
margin:30px;
border-radius:10px;
text-align:center;
font-family: 'Montserrat', sans-serif;
font-weight:bold;
font-style:normal;
font-size:60px;
padding:30px;
}
#particles-js{
width:400px;
height:400px;
position:absolute;
margin-top:-20px;
margin-left:-20px;
}
}