body {
margin:0;
font-family: 'Source Sans Pro', sans-serif;
padding:0px;
max-width:100%;
overflow-x:hidden;
}
#div-contain{
width:100vw;
max-width:100vw;
overflow-x:hidden;
height:100vh;
max-height:100vh;
overflow-y:scroll;
z-index:0;
position:fixed;
}
#div-contain div{
width:100vw;
height:100vh;
}
#newyork{
background:url("https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}
#la{
background:url("https://images.pexels.com/photos/305256/pexels-photo-305256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}
#london{
background:url("https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}
#sydney{
background:url("https://images.pexels.com/photos/995765/pexels-photo-995765.jpeg");
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}
#main-content{
width:100%;
height:100vh;
position:fixed;
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
z-index:1;
background:rgba(0,0,0,0.4);
}
#content-div{
width:90vw;
height:80vh;
max-width:90vw;
overflow-x:hidden;
position:fixed;
background:white;
border-radius:10px;
max-height:80vh;
overflow-y:scroll; 
}
#content-div div{
color:white;
width:100%;
height:80vh;
padding:10px 20px;
}
#content-div-newyork{
    background:url("https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#content-div-la{
    background:url("https://images.pexels.com/photos/305256/pexels-photo-305256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#content-div-london{
    background:url("https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#content-div-sydney{
    background:url("https://images.pexels.com/photos/995765/pexels-photo-995765.jpeg");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#div-contain::-webkit-scrollbar {
    width:0px;
    height:0px;
}
#content-div::-webkit-scrollbar {
    width:5px;
    height:5px;
}
#content-div::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:5px;
}
#content-div::-webkit-scrollbar-thumb {
    background: #282828; 
    border-radius:5px;
}
#content-div::-webkit-scrollbar-thumb:hover {
    background: #555; 
}