@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body,html{
padding:0px;
margin:0px;
background:linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1512805147242-c3e79caf64bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9w=1050&q=80") center center fixed;
background-size:cover;
background-repeat:no-repeat;
width:100vw;
height:100vh;
font-family: 'Josefin Sans', sans-serif;
}
#header{
width:90%;
height:auto;
padding:4% 5%;
background:transparent;
position:absolute;
z-index:9;
transition:0.6s ease-in-out;
color:white;
text-align:center;
background-size:cover !important;
font-family: 'Josefin Sans', sans-serif;
font-size:18px;
}
#form{
width:60%;
height:auto;
text-align:center;
margin-top:25vh;
position:absolute;
padding:8vh 20%;
border-radius:10px;
}
#form{
color:#fff;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
}
.error{
color:#FF2525;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
display:none;
margin:4vh 0px;
}
#form input{
border:0px;
border-bottom:2px solid rgba(255,255,255,0.6);
background:transparent;
color:#fff;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
padding:12px 30px;
width:50%;
margin:18px 0px;
font-size:18px;
transition:0.4s ease-in-out;
}
#form input:focus{
border-bottom:2px solid rgba(255,255,255,1);
}
#form input::placeholder{
color:#fff;
}
#form button{
border:2px solid #fff;
background:transparent;
color:#fff;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
padding:14px 20px;
width:20%;
margin:15px 0px;
border-radius:50px;
font-size:16px;
transition:0.4s ease-in-out;
}
#form button:hover{
background:#fff;
color:#FF2525;
cursor:pointer;
}
::-webkit-scrollbar{
width: 5px;
height: 5px;
}
::-webkit-scrollbar-track{
background: #f1f1f1;
border-radius: 5px;
}
::-webkit-scrollbar-thumb{
background: #282828;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: #555;
}
*:focus {
outline: none;
}
@media (max-width:800px){
    #form{
        width:90%;
        padding:8vh 5%;
    }
    #form input{
        width:80%;
    }
    #form button{
        width:40%;
    }
}
#loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

#topThingy {
    width:100vw;
    height:50%;
    background:#fff;
    position:fixed;
    top:0;
}

#bottomThingy {
    width:100vw;
    height:50%;
    background:#fff;
    position:fixed;
    bottom:0;
}

#text {
    width:100vw;
    height:100vh;
    text-align:center;
    position:fixed;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#spinner {
    animation: rotate 0.6s infinite linear;
    width:60px;
    height:60px;
    border:14px solid #FF2525;
    border-bottom:14px solid #fff;
    border-radius:50%;
    margin: 0px auto;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}