@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    margin:0px;
    padding:0px;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    background:rgb(14, 14, 14);
    color:#fff;
}
#background {
    width:100vw;
    height:100vh;
    background:linear-gradient(0deg,rgba(14,14,14,0.6),rgba(14,14,14,0.6)),url("https://images.unsplash.com/photo-1608096299230-81c7b43d5dfc?w=1500") center center;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:-2;
    position:fixed;
    filter:blur(10px);
    transform:scale(1.2);
}
#days {
    width:360px;
    height:360px;
    background: url("https://images.unsplash.com/photo-1608096299230-81c7b43d5dfc?w=1500") center center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:50%;
    margin:5vh 0px;
    display:inline-block;
}
#hours {
    display:inline-block;
    width:360px;
    height:360px;
    margin:5vh 0px;
    margin-left:-364px !important;
}
#minutes {
    display:inline-block;
    width:360px;
    height:360px;
    margin:5vh 0px;
    margin-left:-364px !important;
}
#seconds {
    display:inline-block;
    width:360px;
    height:360px;
    margin:5vh 0px;
    margin-left:-364px !important;
}
#time-container {
    width:100%;
    padding:5vh 0px;
    font-size:32px;
    font-weight:bold;
}
#time-container table {
    width:50%;
}
#time-container table tr td{
    text-align:center;
    width:10%;
}
#time-container table tr td div {
    font-size:24px !important;
}

#colorD {
    color:#900C3F;
}
#colorH {
    color:#C70039;
}
#colorM {
    color:#FF5733;
}
#colorS {
    color:#FFC30F;
}
#loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	background:rgb(14, 14, 14);
	z-index: 9999;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

@media (max-width : 600px){
    #time-container table tr td div {
        font-size:18px !important;
    }
    #time-container {
        width:100%;
        padding:5vh 0px;
        font-size:20px;
        font-weight:bold;
    }
    #time-container table {
        width:80%;
    }
    #time-container table tr td{
        text-align:center;
        width:10%;
    }
}
#mailing {
    width:auto;
    height:auto;
    padding:2vh 3vw;
    padding-bottom:3.5vh;
    border-radius:5px;
    background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634") center center;
    background-repeat: no-repeat;
    background-size:cover;
    position:fixed;
    bottom:0;
    right:0;
    margin:6vh 4vw;
    transition:0.4s ease-in-out;
    box-shadow:0px 6px 40px rgba(0, 0, 0, 0.2);
    color:#fff;
    display:none;
}

#mailing input {
    width:96%;
    padding:5px 8px;
    border:0px;
    border-bottom:2px solid rgba(255, 255, 255, 0.6);
    font-family: 'Poppins', sans-serif;
    margin-bottom:2vh;
    font-size:15px;
    transition:0.4s ease-in-out;
    background:transparent;
    font-weight:bold;
    color:#fff;
}

#mailing input:focus{
    border-bottom:2px solid rgba(255, 255, 255, 1);
}

#mailing button {
    width:20%;
    padding:8px 8px;
    border:0px;
    color:#282828;
    border-radius:5px;
    background:#fff;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-top:1vh;
}

#mailing button:hover{
    cursor: pointer;
}

::placeholder {
    color: #fff;
}

input,button:focus {
    outline:none;
}
